.bali {
  width: 100%;
  height: 100vh;
  position: relative;
}

.bali::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #485342;
  opacity: 0.5;
}

.firstimage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.hero {
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}
.content h2 {
  font-size: 1.4rem;
  color: white;
}
.content h3 {
  font-size: 6rem;
  color: white;
}
.content p {
  padding-bottom: 0.5rem;
}
