.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #485342;
  color: white;
}

.navmenu {
  display: flex;
  text-decoration: none;
}
.navmenu li {
  padding: 1rem;
}
