.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #485342;
}

.navmenu {
  display: flex;
  list-style-type: none;
}

.navmenu li {
  padding: 1rem;
}
