.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #485342;
}

.navmenu {
  display: flex;
  list-style-type: none;
}

.navmenu li {
  padding: 1rem;
}

.hamburgermenu {
  display: none;
}

@media screen and (max-width: 1040px) {
  .navmenu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(72, 83, 66, 0.9);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.5s;
  }
  .navmenu.active {
    left: 0;
  }
  .navmenu li {
    padding: 1rem 0;
  }
  .hamburgermenu {
    display: initial;
  }
}
